<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>RTS2QM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

	{% include "bootstrap_top.html" %}
	<script>
		function main()
		{
			$("#allsky_img").attr('src', "https://www.lpl.arizona.edu/~css/bigelow/AllSkyCurrentImage.JPG?num="+Math.random());
			setTimeout(main, 60000 );
		}
	</script>
</head>

<body onload="main()">
    <header>
      <div class="container">
        <h1 class="logo">RTS2 Home</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('index') }}">Queue Manager</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
	<div style="padding:10px" class="main_content" id="content">
		<div style="width: 300px; float: left; margin:0px 100px 0px 0px">
			<div id="rts2_status" style="">
				 {% include "rts2_status.html"  %}
			</div>

			<div id="weather" class="tab-pane fade in active" >
				 {% include "weather.html"  %}
			</div>
		</div>
		<div style="float: left;">
			{% if queues %}
		   <div>
			{% for q in queues %}
			   <p style="font-family: monospace; font-size: 16pt">Queue: {{ q.name }}</p>
			   {% if q.queueitems == [] %}
				<p style="font-family: monospace; fontsize: 12pt">None</p>
			   {% endif %}
			   {% if q.queueitems != [] %}
					{% for qi in q.queueitems%}
						<p style="font-family: monospace; fontsize: 12pt">{{ qi.name }}</p>
					{% endfor %}
					   {% endif %}
			   <p></p>
			{% endfor %}
			</div>
			{% endif %}
		</div>
		<div style="float:right">
		<img id="allsky_img" src="https://www.lpl.arizona.edu/~css/bigelow/AllSkyCurrentImage.JPG" height="500px", width="600px" />
		<hr>
		<img id="allsky_img" src="http://mogit.as.arizona.edu/static/lightning.gif" height="500px", width="600px"/>
		</div>	

	</div>

</body>

</html>
