<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>RTS2QM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

	{% include "bootstrap_top.html" %}
	<script src=/static/rts2_vals.js></script>
	<script>
		function restartd(driver_name)
		{
			console.log(driver_name.id);
			console.log("drivers/"+driver_name.id+"/restart");
			$.getJSON("drivers/"+driver_name.id+"/restart", function(data)
			{
				console.log(data);
			})
			.fail(function (err){console.log(err)})
			.done(function(data){console.log("FINISHED")})
		}
		
	</script>
	
	
</head>

<body onload="main()">
    <header>
      <div class="container">
        <h1 class="logo">RTS2 Home</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('index') }}">Queue Manager</a></li>
            <li><a href="{{ url_for('dbmessages') }}">Messages</a></li>
	    <li><a href="{{ url_for('nightlyreport')}}">Nightly Report</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
	<div style="padding:10px" class="main_content" id="content">
		<div style="" id="status_weather">
	<div id="rts2_status" style="">
		<span style="" id="rts2_status">
		<h1>RTS2 Status</h1>
		<hr/>
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:18pt">
				Dropdown button
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="#" onclick="change_rts2_state('on')">On</a><br>
				<a class="dropdown-item" href="#" onclick="change_rts2_state('standby')">Standby</a><br>
				<a class="dropdown-item" href="#" onclick="change_rts2_state('off')">Off</a><br>
			</div>
		</div>

		<div class="val_row" style="font-size:18pt"> 
			<span class="rts2_label"> queue_only</span> 
			<span class="rts2_val" device="SEL" valname="queue_only" rts2type="bool" style="float:right"/>
		</div>
		<div class="val_row" style="font-size:18pt"> 
			<span class="rts2_label"> Focus Pos</span>
			<span style="float:right">
				<input type="text" name="FOC_DEF" id="FOC_DEF" maxlength=6 size=6 />
			</span>
		</div>
		<div class="val_row" style="font-size:18pt"> 
			<span class="rts2_label"> plan_queing </span>
			<span class="rts2_val" device="SEL" valname="plan_queing" style="float:right"/>
		</div>	
		<div class="val_row" style="font-size:18pt"> 
			<span class="rts2_label"> auto_loop </span>
			<span class="rts2_val" device="EXEC" valname="auto_loop", rts2type="bool" style="float:right"/>
		</div>
		<div class="val_row" style="font-size:18pt"> 
			<span class="rts2_label"> pec_state </span>
			<span class="rts2_val" device="BIG61" valname="pec_state" style="float:right"/>
		</div>
		<div class="val_row" style="font-size:18pt"> 
			<span class="rts2_label"> Eve Flats </span>
			<span class="rts2_val" device="SEL" valname="flat_beginning" rts2type="time"  style="float:right"/>
		</div>
		<div class="val_row" style="font-size:18pt"> 
			<span class="rts2_label"> Morn Flats</span>
			<span class="rts2_val" device="SEL" valname="flat_ending" rts2type="time"  style="float:right"/>
		</div>

		<div class="val_row" style="font-size:18pt"> 
			<span class="rts2_label"> Auto Dome</span>
			<span class="rts2_val" device="BIG61" valname="dome_auto" rts2type="bool"  style="float:right"/>
		</div>	<div class="val_row" style="font-size:18pt"> 
			<span class="rts2_label"> Airmass</span>
			<span class="rts2_val" device="BIG61" valname="AIRMASS" rts2type="float"  style="float:right;font-color:red;"/>
		</div>

		<div class="val_row" style="font-size:18pt"> 
			<span class="rts2_label"> Target</span>
			<span class="rts2_val" device="EXEC" valname="current_name" rts2type="none"  style="float:right;font-color:red;color:red"/>
		</div>
		<div class="val_row" style="font-size:18pt"> 
			<span class="rts2_label" id="exp_num" style="color:red">
		</div>


		<!--<div id="errmsg"></div>-->
			
		<button onclick="startup()" title="Click here to set queue_only etc" >After Flats Settings</button>

			</span>

				</div>
						<div id="weather" class="tab-pane fade in active" >
					 {% include "weather.html"  %}
				</div>

		

		</div>
		<div style="float: left;">
			{% if queues %}
		   <div>
			{% for q in queues %}
			   <p style="font-family: monospace; font-size: 16pt">Queue: {{ q.name }}</p>
			   {% if q.queueitems == [] %}
				<p style="font-family: monospace; fontsize: 12pt">None</p>
			   {% endif %}
			   {% if q.queueitems != [] %}
					{% for qi in q.queueitems%}
						<p style="font-family: monospace; fontsize: 12pt">{{ qi.name }}</p>
					{% endfor %}
					   {% endif %}
			   <p></p>
			{% endfor %}
			</div>
			{% endif %}
		</div>
		<div style="float:left;border:solid 1px black;">
			<h2>Filters</h2>
						<div>
				<span class="rts2_label">Current Filter</span>
				<span class="rts2_val" device="W0" valname="loadedFilter" rts2type="none" style="font-weight:bold"></span>
			</div>
			<div>
				<span class="rts2_label">Filter Number</span>
				<span class="rts2_val" device="W0" valname="filter" rts2type="none" style="font-weight:bold"></span>
			</div>
			<div>
				<span class="rts2_label">Available Filters:</span>
				<span class="rts2_val" device="W0" valname="filter_names" rts2type="none" ></span>
			</div>

		</div>

		<div "style=float:left;border:solid 1px black;">
		<span class="rts2_val"></span>
		</div>
		<div style="float:right">
			<p class="rts2_device_check" id="centrald"> CENTRALD</p>
			<p class="rts2_device_check" id="BIG61"><a href="#"  ondblclick="restartd(BIG61)" class="glyphicon glyphicon-repeat"></a> BIG61</p>
			<p class="rts2_device_check" id="C0"><a href="#" ondblclick="restartd(C0)" class="glyphicon glyphicon-repeat"></a> C0</p>
			<p class="rts2_device_check" id="EXEC"><a href="#" ondblclick="restartd(EXEC)" class="glyphicon glyphicon-repeat"></a> EXEC</p>
			<p class="rts2_device_check" id="F0"><a href="#" ondblclick="restartd(F0)" class="glyphicon glyphicon-repeat"></a> F0</p>
			<p class="rts2_device_check" id="HTTPD">HTTPD</p>
			<p class="rts2_device_check" id="IMGP"> IMGP</p>
			<p class="rts2_device_check" id="SEL"><a href="#" ondblclick="restartd(SEL)" class="glyphicon glyphicon-repeat"></a> SEL</p>
			<p class="rts2_device_check" id="W0"><a href="#" ondblclick="restartd(W0)" class="glyphicon glyphicon-repeat"></a> W0</p>
		<!--
		<img id="allsky_img" src="https://www.lpl.arizona.edu/~css/bigelow/AllSkyCurrentImage.JPG" height="250", width="300px" />
		<hr>
		<img id="allsky_img" src="http://mogit.as.arizona.edu/static/lightning.gif" height="250px", width="300px"/>
		<hr>
		<img id="allsky_img" src="http://10.30.3.45/mjpg/1/video.mjpg?camera=1&timestamp=1535421354284" height="250px", width="300px"/>
		-->
		</div>	
			
			<!--<textarea id="rts2_messages" readonly rows=10 cols=60 style="position:absolute;bottom:10px;right:10px"></textarea>-->
			<div id="rts2_messages" style="overflow:scroll;border:solid 1px black;height:400px;width:600px;position:absolute;bottom:10px;right:10px"></div>
	</div>

</body>

</html>
