<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>RTS2QM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
      <div class="container">
        <h1 class="logo">RTS2 Nightly Report</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('index') }}">Queue Manager</a></li>
            <li><a href="{{ url_for('dbmessages') }}">Messages</a></li>
	    <li><a href="{{ url_for('nightlyreport')}}">Nightly Report</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    {% if report %}
	{% for r in report %}
		<p style="font-family: monospace; font-size: small">{{ r }}</p>
	{% endfor %}
    {% endif %}
</body>
</html>
