
<script>
	
(function get_boltwood()
{

$.ajax
({
  type: "GET",
  url: "weather/boltwood.json",
  dataType: 'json',
  withCredentials : true,
  data: '{ "comment" }',
})
	.done(
	function(data){
		$("span.boltwood-data").each(function()
		{
			var bwkey = $(this).attr("boltwood_name");
			if(bwkey in data)
			{
				$(this).text(data[bwkey])
			}
		});
	})
	.always(function(){ setTimeout(get_boltwood, 50000); })
})();

</script>

<span style="border:solid 1px white;display:inline-block;padding:10px;">
	<h1>Boltwood Data</h1>
	<hr/>
	<div>
		<span style="min-width:150px;display:inline-block;font-size:18pt">Humdity</span>
		<span style="float:right">
			<span boltwood_name="iHumidity" class="boltwood-data" style="font-size:18pt;"></span>
			<span style=";font-size:18pt">%</span>
		</span>
	</div>
	<div>
		<span style="min-width:150px;display:inline-block;font-size:18pt">Raining</span>
		<span boltwood_name="iRain" class="boltwood-data" style="font-size:18pt;float:right"></span>
	</div>

	<div>
		<span style="min-width:150px;display:inline-block;font-size:18pt">Temperature</span>
		<span style="float:right">
		<span boltwood_name="fAmbientTemp" class="boltwood-data" style="font-size:18pt"></span>
		<span style="font-size:18pt">&nbsp;&#778;F</span>
		</span>
	</div>
	<div>
		<span style="min-width:150px;display:inline-block;font-size:18pt">Clouds</span>
		<span boltwood_name="cloud_state" class="boltwood-data" style="font-size:18pt;float:right"></span>
	</div>

	<div>
		<span style="min-width:150px;display:inline-block;font-size:18pt">Sunlight</span>
		<span boltwood_name="day_state" class="boltwood-data" style="font-size:18pt;float:right"></span>
	</div>
</span>



